# Python
__pycache__/
*.pyc
.venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Sensitive
*.pass
credentials/
.env

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Binary
*.tar.*
*.enc
