---
minimum_pre_commit_version: 4.5.1
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: no-commit-to-branch
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
  - id: shellcheck
    stages: [pre-push]
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: ['--baseline', '.secrets.baseline']
- repo: https://github.com/ansible/ansible-lint.git
  rev: v25.12.2
  hooks:
  - id: ansible-lint
    files: \.(yaml|yml)$
    name: Ansible Lint
    args: [-p, infra/ansible/]
- repo: https://github.com/AleksaC/terraform-py
  rev: v1.14.3
  hooks:
  - id: tf-fmt
  - id: tf-validate
    stages: [pre-push]
