# Example configuration file for AI Improv Toolkit, each Role has its own section.

[Mode]
ethics = false # When true, will have ethic mode limits applied
debug_level = "INFO" #  In Ethics mode mode must be "Error" or "Critical"
role = "ingest" # options: [ingest, vision, hearing, brain, output, health_check] role of the component

# NOTE: Localhost does not work in a containerized environment. Use service names instead.
[Network]
nats_server = "tls://nats_server:4222"
connection_timeout_s = 2
retry_attempts = 5
retry_backoff_ms = 500

# TLS/SSL certificate paths
ca_cert_path = "/etc/ai-show/pki/ca_cert.pem"
client_cert_path = "/etc/ai-show/pki/client_cert.pem"
client_key_path = "/etc/ai-show/pki/client_key.pem"

[Ingest]
audio_chunks_ms = 10  # options [10, 20, 30]
vad_aggressiveness = 1  # 0-3; higher = more aggressive (fewer false positives)
button_debounce_ms = 500
# Can be found using the /opt/show/ingest/silence_threshold.sh. Be careful with this value.
silence_threshold = 0.02 # RMS threshold that the mic will ignore Don't make too large.
hearing_server = "hearing_server:8100"

[Ingest.reset]
path = "/dev/show/reset"
key = "KEY_SPACE"
grab = true

[[Ingest.actor_mics]]
mic_name = "USB Composite Device"  # Find Mic_name using the /opt/show/ingest/sound_list_name.sh
use_noise_reducer = true # When true, will apply noise reduction to incoming audio.

[[Ingest.avatar_controllers]]
path = "/dev/show/avatar"
speak = "KEY_SPACE"
grab = true
