# Example configuration file for AI Improv Toolkit
# MVP limitations:
# - Languages supported: English (en-US)
# - Show types supported: mono-scene
# - Actors supported: 1
# - Avatar types supported: 1

# Note: This configuration is for an Ingest component.
# Adjust the [Mode] and [Network] section accordingly for other component roles.

[Show]
Name = "Show Name"
Language = "en-US"
Actors_count = 1  # Each actor will need a mic channel.
Avatar_count = 1
Show_length = 22 # in minutes
Type = "mono-scene"
Show_rating = "pg-13" # options: [g, pg, pg-13, r, nc-17] Note: limited to pg-13 in Ethic mode.
Disclaimer = "short" # options: [none, short, full] Note: must be short or full in Ethic mode.
Command_keyword = "hay ai" # Keyword to activate voice commands.

# All instructions will be passed to the respective AI components as-is.
[AI]
Introduction_instructions = "Ask for a location that will fit on stage." # Instructions for introduction generation
General_instructions = "" # General instructions for all AI components
show_watcher_instructions = "" # Instructions for show watcher component

# Count of Avatar must match Show.Avatar_count
[[AI.Avatars]]
Instructions = ""

[Mode]
Ethic = false # When true, will have ethic mode limits applied
Debug_level = "INFO" #  In Ethics mode mode must be "Error" or "Critical"
Role = "ingest" # options: [ingest, vision, hearing, brain, output, health_check] Role of the component

[Buttons]

[Buttons.Reset]
Path = "/dev/show/big-red"
Key = "KEY_SPACE"
grab = true

# Count of Avatars must match Show.Avatar_count
[[Buttons.Avatars]]
Path = "/dev/show/avatar"
Speak = "KEY_SPACE"
grab = true

[Network]  # NOTE: Localhost does not work in a container
Nats_server = "nats_server:4222"
Hearing_server = "hearing_server:8100"
Connection_timeout_s = 2
Retry_attempts = 5
Retry_backoff_ms = 500
Use_tls = false
Ca_cert_path = "/etc/ai-show/ca_cert.pem"

[Health_Check]
Enabled = true
Interval_seconds = 5

[Actors]

[[Actors.Mics]]
Mic_path = "/dev/snd/by-id/usb-Jieli_Technology_USB_Composite_Device_5500745F8A672305-00" # pragma: allowlist secret
Channel_number = 0 # count starts at 0
Type = "mono" # options: [mono, stereo]
