# Example configuration file for AI Improv Toolkit, each Role has its own section.
[Show]
name = "8-Bit Players"
description = "An AI-powered improv show that combine classic improv with AI-driven characters."
actor_count = 1 # MVP supports only 1 actor for now
avatar_count = 1 # MVP supports only 1 avatar for now

[Mode]
ethics = false # When true, will have ethic mode limits applied
debug_level = "INFO" #  In Ethics mode mode must be "Error" or "Critical"
role = "frontend" # options: [frontend, backend] role of the component


[Webrtc]
peer_server = "tony_pc"
port = 8443
pre_shared_key = "your_secure_signal_key"  # Secure key for signaling server authentication
# List of ICE servers for NAT traversal
ice_servers = ["stun.l.google.com:19302", "stun1.l.google.com:19302","stun2.l.google.com:19302", "stun3.l.google.com:19302", "stun4.l.google.com:19302"]

# TODO: TURN server configuration for relay
# TODO: SSL for Signal server


[frontend]
button_debounce_ms = 500
webrtc_id = "frontend" # Unique identifier for this frontend instance

[frontend.reset]
path = "/dev/show/reset"
reset = "KEY_SPACE"
grab = true

[[frontend.mics]]
name = "USB Composite Device"  # Find Mic_name using the /opt/show/ingest/sound_list_name.sh
channel_handling = "mono" # options: [mono, split_all, downmix_to_mono]


[[frontend.controllers]]
path = "/dev/show/avatar"
speak = "KEY_SPACE"
exit = "KEY_ENTER"
grab = true
