---
- name: Fail on Non tested machines
  hosts: all
  become: true
  tasks:
    - name: Fail if OS family or architecture is unsupported
      ansible.builtin.fail:
        msg: This playbook is tested on Debian OS family machine that are x86_64.
      when: ansible_facts["os_family"] != "Debian" or ansible_facts["architecture"] != "x86_64"

- name: Setup Base Configuration
  hosts: all
  become: true
  roles:
    - { role: base, base_sysadmin_ssh_pubkey: "{{ ssh_key_public }}" }

- name: Setup Physical Machine Configuration
  hosts: physical
  become: true
  roles:
    - physical

- name: Setup NATS Server
  hosts: nats_servers
  become: true
  roles:
    - role: nats
      nats_debug_mode: "{{ nats_debug_mode }}"
      nats_docker_tag: "{{ nats_docker_tag }}"
      nats_pki_cert_path: "{{ nats_pki_cert_path }}"
      nats_pki_key_path: "{{ nats_pki_key_path }}"
      nats_pki_ca_path: "{{ nats_pki_ca_path }}"
