#!/bin/bash
# shellcheck disable=SC2317
# (Remove above line in your copy)


# This file must be sourced, not executed.
if [[ "${BASH_SOURCE[0]}" == "$0" ]]; then
  echo "Error: ${BASH_SOURCE[0]} must be sourced (use: source ${BASH_SOURCE[0]})." >&2
  exit 1
fi

echo "This is an example infra.env.sh file. Copy it to infra.env.sh and fill in the values." >&2 # (Remove this line in your copy.)
exit 1 # Exit so that no one accidentally uses this example file. (Remove this line in your copy.)

# Update the known_hosts file to avoid SSH failures due to changed host keys.
# Skipped when in the devcontainer
[ "$(whoami)" != "vscode" ] && ssh-keygen -R server.example.com

#  Use by infra PKI Script
export ROOT_CA_PASSWORD="<Password for ROOT CA>"
export INTERMEDIATE_CA_PASSWORD="<Password for INTERMEDIATE>"
export SERVER_DOMAIN="<Domain for server certs>"

# User by Terraform
export DIGITALOCEAN_TOKEN='<Digital Ocean API Token>'
export CLOUDFLARE_API_TOKEN='<Cloud flare API token>'
export TF_VAR_sysadmin_and_dev_password_hash='<HASHED Password made with mkpasswd>'

# Used by Ansible
export ANSIBLE_BECOME_PASS='<sudo password for the boxes for sysadmin user>'
